# Estatisticas Destritivas

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('./datasets/gas_prices_brazil_2004-2021_pre.csv')

In [4]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117387,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117388,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117389,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117390,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117391,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

O Pandas fornecem algumas funções/métodos que computam certas estatísticas descritivas.

`describe`: exibe várias **estatísticas descritivas** para os _atributos_ de um dataframe ou para uma _Series_.

In [9]:
stats = data.describe()
stats

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

In [10]:
stats[["PREÇO MÉDIO REVENDA", "PREÇO MÍNIMO REVENDA", "MARGEM MÉDIA REVENDA"]]

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  MARGEM MÉDIA REVENDA
count        117392.000000         117392.000000         117392.000000
mean             11.415039              9.922806          -4697.376395
std              19.149383             16.418908          21163.482182
min               0.766000              0.590000         -99999.000000
25%               2.159000              1.990000              0.272000
50%               2.915000              2.699000              0.381000
75%               4.023000              3.780000              0.554000
max             107.500000            100.000000             36.847000

In [11]:
stats.loc[["min", "max", "mean"]]

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
min,1.00000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.00000,-99999.000000,-99999.000000
max,4167.00000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.00000,94.500000,0.780000
mean,226.63219,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.54345,-4682.203033,-4691.881144

In [13]:
stats.loc[["min", "max", "mean"], ["PREÇO MÉDIO REVENDA", "PREÇO MÍNIMO REVENDA"]]

      PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA
min              0.766000              0.590000
max            107.500000            100.000000
mean            11.415039              9.922806

Existe a possibilidade de calcular individualmente

In [15]:
data["PREÇO MÍNIMO REVENDA"].min()

0.59

In [16]:
data["PREÇO MÍNIMO REVENDA"].mean()

9.922806119667438

In [17]:
data["PREÇO MÍNIMO REVENDA"].max()

100.0

In [18]:
data["PREÇO MÍNIMO REVENDA"].std()

16.418907661776196

`.value_counts()`:  Conta a frequência dos valores de uma dada variável (de preferência, _categórica_).

In [21]:
data["ESTADO"].value_counts()

ESTADO
BAHIA                  4819
RIO DE JANEIRO         4818
SAO PAULO              4817
RIO GRANDE DO SUL      4805
PARAIBA                4796
PERNAMBUCO             4787
SERGIPE                4738
SANTA CATARINA         4720
MINAS GERAIS           4698
ESPIRITO SANTO         4634
MATO GROSSO DO SUL     4623
ALAGOAS                4576
RIO GRANDE DO NORTE    4555
CEARA                  4514
PARANA                 4458
AMAZONAS               4238
MATO GROSSO            4232
MARANHAO               3942
PARA                   3935
ACRE                   3931
RORAIMA                3924
TOCANTINS              3923
GOIAS                  3920
RONDONIA               3912
PIAUI                  3863
DISTRITO FEDERAL       3790
AMAPA                  3424
Name: count, dtype: int64

In [22]:
data["ESTADO"].value_counts().to_frame()

                     count
ESTADO
BAHIA                 4819
RIO DE JANEIRO        4818
SAO PAULO             4817
RIO GRANDE DO SUL     4805
PARAIBA               4796
PERNAMBUCO            4787
SERGIPE               4738
SANTA CATARINA        4720
MINAS GERAIS          4698
ESPIRITO SANTO        4634
MATO GROSSO DO SUL    4623
ALAGOAS               4576
RIO GRANDE DO NORTE   4555
CEARA                 4514
PARANA                4458
AMAZONAS              4238
MATO GROSSO           4232
MARANHAO              3942
PARA                  3935
ACRE                  3931
RORAIMA               3924
TOCANTINS             3923
GOIAS                 3920
RONDONIA              3912
PIAUI                 3863
DISTRITO FEDERAL      3790
AMAPA                 3424